* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0f1624;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.auth-container {
  width: 380px;
  background: #1b2335;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  text-align: center;
}


.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
}


.auth-box {
  margin-top: 15px;
  text-align: left;
}

.auth-box label {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
  color: #c7d0e4;
}


.auth-box input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #2a3550;
  color: white;
  margin-bottom: 18px;
  font-size: 15px;
}


.auth-box button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #4b6cff;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}
