* {
    margin: 0;
  }
  
  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  

  input, button, textarea, select {
    font: inherit;
  }
  

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1,h2,h3 {
    line-height: 1;
  }
  

  body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--clr-neutral-400);
    background-color: var(--clr-secondary-200);


      
      display: grid;
      min-height: 100vh;
      place-content: center;
      margin: 1rem;
      

  }




  .flex-group{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }





.button {
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.75em 1.5em;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: 0.925;

}




  /* product styles */

  .product {

/* great use of a root padding for the whole prodcut style but so it can be easily changed */

    --content-padding:1.5rem;
    --content-spacing:1rem;

    display: grid;
    background-color: var(--clr-neutral-100);
    border-radius: 0.5rem;
    overflow: hidden;   
    max-width: 600px;

  }




  .product__title{
    font-size: 2rem;
    
  }

  .product__price{
    font-size: 2rem;
    
  }