
:root{
  --color-primary: #3498db;
  --color-secondary: #e74c3c;
  --color-tertiary: #2ecc71;
  --bg-primary: #ecf0f1;
  --bg-secondary: #f5f5f5;  
  --bg-tertiary: #ffffff;
  --font-size-large: 24px;
  --font-size-medium: 18px;
  --font-size-small: 14px;
  --letter-spacing: 2px;
  --padding: 10px;
  --margin: 15px;
  --transition-duration: 0.3s;
  --translate-hover: translateX(20px);
}


.class1{
  color: var(--color-primary);
  background-color: var(--bg-primary);
  font-size: var(--font-size-large)
  var(--letter-spacing)
  var(--padding)
  var(--margin)
  var(--transition-duration)
  var(--translate-hover)
}

.class2{
  color: var(--color-secondary);
  background-color:var(--bg-secondary);
  font-size: var(--font-size-medium)
  var(--letter-spacing)
  var(--padding)
  var(--margin)
  var(--transition-duration)
  var(--translate-hover)
}


.class3{
  color: var(--color-tertiary);
  background-color: var(--bg-tertiary);
  font-size: var(--font-size-small)
  var(--letter-spacing)
  var(--padding)
  var(--margin)
  var(--transition-duration)
  var(--translate-hover)
}


div{
  width: 500px;
  height: 300px;
}

