/*translate ცვლის ობიექტის პოზიციას*/
/*scale ადიდებს ან აპატარავებს ობიექტს თავისივე ზომის მიხედვით*/
/*rotate აბრუნებს ობიექტს საათის ისრის მიმართულებით ან პირიქით*/

/*transform არის scale,translate,rotate დამხმარე*/
/*transition გამოიყენება ანიმაციის სიჩქარის შესაცვლელად */
/*opacity იგივეა როგორც გამჭირვალება ანუ როგორ ჩანს ობიექტი */
/*transform-origin ცვლის გადაადგილების წერტილს საიდან დაიწყოს მოძრაობა*/

div{
    height: 300px;
    width: 300px;
    background-color: orange;
    
}

div:hover{
    transform: translate(50px) scale(0.5) rotate(90deg);
    transition: 0.5s;
    border-radius: 200px;
    background-color: green;

}
