.container {
  text-align: center;
  margin: 30px auto;
  max-width: 800px;
}

h1 {
  font-size: 36px;
  color: goldenrod;
}

.info {
  font-size: 22px;
  line-height: 1.6;
  margin: 20px 0;
}

img {
  width: 500px;
  border-radius: 12px;
  margin-top: 20px;
}

.wiki-link {
  font-size: 28px;
  color: darkgreen;
  text-decoration: none;
  font-weight: bold;
}

.wiki-link:hover {
  text-decoration: underline;
  color: orange;
}
