div{
    height: 300px;
    width: 300px;
    background-color: orange;
    
}

div:hover{
    transform: translate(50px) scale(0.5) rotate(90deg);
    transition: 0.5s;
    background-color: green;

}
                            