#p1{
    color:rgb(255, 0,0)
}

#p2{
    color:rgb(0,255,0)
}

#p3{
    color:rgb(0,0,255)
}

#p4{
    color:rgb(255,0,255)
}

#p5{
    color:rgb(255,255,0)
}

#p6{
    color:#ff0000
}

#p7{
    color:#00ff00
}

#p8{
    color:#0000ff
}

#p9{
    color:#ff00ff
}

#p10{
    color:#ffff00
}