#wiki{
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 4px 4px rgb(123, 234, 211);
}

#aboutluka{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-shadow: 5px 4px 4px rgb(123, 234, 211);
}

#luka{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 5px 4px 4px rgb(123, 234, 211);
}

#aboutlukasfamily{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-shadow: 10px 10px 12px rgb(243, 134, 192);
}

#lukass{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 5px 4px 4px rgb(243, 134, 192);
}