#div2{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

#div1{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: right;
    align-items:end;
    background-color: yellow;
}


#div3{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: left;
    align-items: start;
    background-color: yellow;
}