div{
    width: 500px;
    height: 500px;
    background-color: yellow;
    border-radius: 45%;
}

form{
    text-align: center ;
}



input[type=text] {
    padding: 12px 20px;

  }

  input[type=password] {
    padding: 12px 20px;

  }

